brandColor = #26ae90

colorPrimary()
  background-color transparentify(brandColor, 80%)
  color white
  text-shadow none
  &:hover
    background-color brandColor

body
  font-family 'Lato'
  color #4D4D4D

.main
  background-color #010000
  background-image url('../img/img_universe.png')
  background-size contain
  background-repeat no-repeat
  background-position center
  background-attachment fixed
  text-shadow black 2px 2px 5px

.header
  position fixed
  width 100%
  background-color transparentify(black, 80%)
  z-index 1000
  padding 15px 0
  a
    color #ACACAC
    text-decoration none
    line-height 50px
    margin-right 15px
    transition 0.1s
    &:hover
      color white
  .logo
    float left
    margin-right 25px
    font-size 1.4em
    color white
    .toggle
      display none
      float right
      line-height 52px
      padding 0 15px
      color transparentify(white, 80%)
      transition 0.1s
      cursor pointer
      &:hover
        color white
  .left-list
    float left
  .right-list
    float right
    a.signup
      box-sizing border-box
      padding 7px 20px
      border-radius 5px
      transition 0.1s
      colorPrimary()
  @media (max-width: 767px)
    padding 5px 0
    .logo
      display block
      float none
      margin 0
      .toggle
        display block
    .left-list,
      float none
      height 176px
      overflow-y hidden
      transition 0.3s
      a
        display block
        height 44px
    .right-list
      display none
      a
        display block
        height 44px
        &.signup
          padding 0
          background transparent
          &:hover
            background transparent
    &.closed
      .left-list
        height 0


/*start main*/

.main-1
  text-align center
  color white
  box-sizing border-box
  padding-top 160px
  padding-bottom 60px
  h1
    margin-bottom 35px
    font-weight 400
    font-size 5em
  h2
    font-size 2em
    font-weight 200
  .download
    box-sizing border-box
    transition 0.1s
    height 50px
    width 250px
    display block
    line-height 50px
    border-radius 25px
    text-decoration none
    margin 70px auto 70px
    font-size 1.5em
    colorPrimary()
  .scroll
    display inline-block
    width 50px
    height 50px
    border-radius 25px
    color white
    margin 0 auto
    border solid 2px white
    line-height 50px


.main-2
  text-align center
  background-color transparentify(black, 0.5)
  padding 35px 0
  h1
    color white
    font-size 40px
    padding-top 50px
    margin-bottom 40px
  h2
    color #BCBCBC
    font-size 1.5em
    font-weight 300
    margin-bottom 40px
    letter-spacing 0.1em
  p
    color white
    font-size 1.5em
    font-weight 400
    letter-spacing 0.1em

.main-3
  text-align center
  background-color transparentify(black, 0.5)
  padding 35px 0 105px
  h2
    color #ECECEC
    font-size 2em
    font-weight 400
    letter-spacing 0.1em
    margin-bottom 45px
  .substitute-list
    &>div
      margin-top 35px
      margin-bottom 35px
    i
      font-size 72px
      color brandColor
    h3
      color white
      font-size 24px
      font-weight 200
    p
      color #B3B3B3
      font-weight 200
      font-size 16px
      letter-spacing 0.05em


/*end main*/



/*start detail*/

.detail-1
  .left-pane
    margin-top 75px
    margin-bottom 75px
    overflow hidden
    img
      width 450px
      margin 0 auto
      display block
  .right-pane
    margin-top 75px
    margin-bottom 75px
    background-color transparentify(white, 90%)
    border-radius 5px
    padding 15px
    h2
      color black
      font-size 2em
      font-weight 400
      margin-bottom 35px
      strong
        color brandColor
    p
      font-size 1.1em
    a.download
      box-sizing border-box
      transition 0.1s
      height 50px
      width 250px
      display block
      line-height 50px
      border-radius 25px
      text-decoration none
      font-size 1.5em
      text-align center
      margin 0 auto
      colorPrimary()

/*section2 start*/

.detail2
  background url('../img/img05.png') center center / cover no-repeat fixed
  width 100%
  color white
  overflow-x hidden
  .left-pane
    margin-top 75px
    margin-bottom 75px
    h2
      font-size 2em
      font-weight 400
      margin-bottom 50px
      strong
        color brandColor
    h3
      margin-bottom 35px
    h4
      font-weight 300
      margin-left 15px
      font-size 1.3em
    p
      font-size 1.1em
      font-weight 200
      padding-left 30px
      margin-bottom 35px
  .right-pane
    margin-top 75px
    margin-bottom 75px
    img
      min-width 450px
      margin 0 auto
      display block


.detail3
  width 100%
  background-color #ECECEC
  border-bottom solid 1px #ECECEC
  padding-top 60px
  text-align center
  h2
    color black
    strong
      color brandColor
      font-size 1.2em
  p
    color #4d4d4d
    font-size 1.3em
    font-weight 200
    letter-spacing 0.03em
    margin-top 35px
    margin-bottom 55px
  img
    width 100%
    max-width 666px

.price
  padding 45px 0
  h2
    text-align center
    color #4D4D4D
    font-size 2.5em
    padding-bottom 20px
    margin-bottom 20px
  .plan-list
    list-style none
    padding 0
    clearfix()
    li
      padding 10px
      width 20%
      float left
      color white
      margin 0 auto 25px
      .plan-detail
        padding 65px 10px
        text-align center
        border-radius 10px
        margin-bottom 10px
        h3
          font-size 2em
          margin-bottom 25px
        p
          font-weight 400
      a.upgrade
        display block
        padding 15px 10px
        text-align center
        border-radius 10px
        color white
        font-size 1.2em
        font-weight 600
      &:nth-child(1)
        .plan-detail, .upgrade
          background-color #9ECCC0
      &:nth-child(2)
        .plan-detail, .upgrade
          background-color #7CD1C1
      &:nth-child(3)
        .plan-detail, .upgrade
          background-color #46CC98
      &:nth-child(4)
        .plan-detail, .upgrade
          background-color #13BC8B
      &:nth-child(5)
        .plan-detail, .upgrade
          background-color #088253
    @media (max-width: 767px)
      li
        width 100%
        .plan-detail, .upgrade
          width 240px
          margin-left auto
          margin-right auto
    @media (min-width: 768px) and (max-width: 991px)
      li
        width 33%
        .plan-detail
          padding 35px 10px
  p.attention
    color #B3B3B3
    font-weight 200
    text-align center
    font-size 1.1em
    a
      color #4d4d4d
      font-weight 300

.create
  padding 35px 0
  background-color #ea5a42
  text-align center
  a
    color white
    text-decoration none
    font-weight 400
    font-size 3em
    vertical-align middle

.user
  background-color #ececec
  padding 60px 0
  font-size 1.3em
  .uservoice
    text-align center
  .uservoice .user-img
    width 160px
    height 160px
  .uservoice .user-profile h3
    color #4d4d4d
    font-weight 400
    padding-top 20px
    font-family 'Lato', sans-serif
  .user-comment
    color brandColor
    font-size 34px
    font-family 'Lato', sans-serif
    font-style italic
    font-weight 700
    padding-top 30px


.footer
  background-image url('../img/office.jpg')
  background-repeat no-repeat
  background-position center
  background-size cover
  .message
    text-align center
    padding 75px 0
    font-weight 700
    font-size 3em
    color white
    margin 0
    background-color transparentify(lighten(brandColor, 25%), 70%)
  .footer-main
    background-color transparentify(#FFF, 90%)
    margin-bottom 0px
    padding-bottom 0px
    padding 35px 0
    .footer1
      float left
      list-style none
      li a
        text-decoration none
        color #4d4d4d
      li img
        width 40px
        height 40px
    .footer2
      float left
      list-style none
      li a
        color #4d4d4d
    .social
      float right
      li
        margin-right 15px
        display inline
        font-size 3em
        .fa-facebook-square
          color #3b5998
        .fa-twitter-square
          color #59ADEC
        .fa-github-square
          color black
        a
          transition 0.1s
          &:hover
            opacity 0.6
  .corporate
    background-color transparentify(#FFF, 95%)
    text-align center
    margin 0 auto
    padding 15px 0
