@import url("http://fonts.googleapis.com/css?family=Lato");
body {
  font-family: 'Lato';
  color: #4d4d4d;
}
.main {
  background-color: #010000;
  background-image: url("../img/img_universe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /*text-shadow: #000 2px 2px 5px;*/
}
.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 1000;
  padding: 15px 0;
}
.header a {
  color: #acacac;
  text-decoration: none;
  line-height: 50px;
  margin-right: 15px;
  transition: 0.1s;
}
.header a:hover {
  color: #fff;
}
.header .logo {
  float: left;
  margin-right: 25px;
  font-size: 1.4em;
  color: #fff;
}
.header .logo .toggle {
  display: none;
  float: right;
  line-height: 52px;
  padding: 0 15px;
  color: rgba(255,255,255,0.8);
  transition: 0.1s;
  cursor: pointer;
}
.header .logo .toggle:hover {
  color: #fff;
}
.header .left-list {
  float: left;
}
.header .right-list {
  float: right;
}
.header .right-list a.signup {
  box-sizing: border-box;
  padding: 7px 20px;
  border-radius: 5px;
  transition: 0.1s;
  background-color: rgba(0,154,116,0.8);
  color: #fff;
  text-shadow: none;
}
.header .right-list a.signup:hover {
  background-color: #26ae90;
}
@media (max-width: 767px) {
  .header {
    padding: 5px 0;
  }
  .header .logo {
    display: block;
    float: none;
    margin: 0;
  }
  .header .logo .toggle {
    display: block;
  }
  .header .left-list,
  .header float none {
    height: 176px;
    overflow-y: hidden;
    transition: 0.3s;
  }
  .header .left-list a,
  .header float none a {
    display: block;
    height: 44px;
  }
  .header .right-list {
    display: none;
  }
  .header .right-list a {
    display: block;
    height: 44px;
  }
  .header .right-list a.signup {
    padding: 0;
    background: transparent;
  }
  .header .right-list a.signup:hover {
    background: transparent;
  }
  .header.closed .left-list {
    height: 0;
  }
}
/*start main*/
.main-1 {
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding-top: 160px;
  padding-bottom: 60px;

}
.main-1 h1 {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 5em;
  text-shadow: #000 2px 2px 5px;
}
.main-1 h2 {
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0.1em;
   line-height: 150%;
}
.main-1 .download {
  box-sizing: border-box;
  transition: 0.1s;
  height: 50px;
  width: 300px;
  display: block;
  line-height: 50px;
  border-radius: 25px;
  text-decoration: none;
  margin: 70px auto 70px;
  font-size: 1.5em;
  background-color: rgba(0,154,116,0.8);
  color: #fff;
  text-shadow: none;
}
.main-1 .download:hover {
  background-color: #26ae90;
}
.main-1 .scroll {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  margin: 0 auto;
  border: solid 2px #fff;
  line-height: 50px;
}

.main-1 .scroll:hover{
   border: solid 2px #26ae90;
  background-color: #26ae90;
  color: white;

}


.main-2 {
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 35px 0;
}
.main-2 h1 {
  color: #fff;
  font-size: 40px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.main-2 h2 {
  color: #bcbcbc;
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: 0.1em;
  line-height: 150%;
}
.main-2 p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.main-3 {
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding: 35px 0 105px;
}
.main-3 h2 {
  color: #ececec;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 45px;
}
.main-3 .substitute-list>div {
  margin-top: 35px;
  margin-bottom: 35px;
}
.main-3 .substitute-list i {
  font-size: 72px;
  color: #26ae90;
}
.main-3 .substitute-list h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}
.main-3 .substitute-list p {
  color: #b3b3b3;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.05em;
}
/*end main*/
/*start detail*/
.detail-1 {
background-color: white;
}


.detail-1 .left-pane {
  margin-top: 75px;
  margin-bottom: 75px;
  overflow: hidden;
}
.detail-1 .left-pane img {
  width: 450px;
  margin: 0 auto;
  display: block;
}
.detail-1 .right-pane {
  margin-top: 75px;
  margin-bottom: 75px;
  /*background-color: rgba(255,255,255,0.9);*/
  border-radius: 5px;
  padding: 15px;
}
.detail-1 .right-pane h2 {
  color: #4d4d4d;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 35px;
}
.detail-1 .right-pane h2 strong {
  color: #26ae90;
}
.detail-1 .right-pane p {
  font-size: 1.5em;
}
.detail-1 .right-pane a.download {
  box-sizing: border-box;
  transition: 0.1s;
  height: 50px;
  width: 250px;
  display: block;
  line-height: 50px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0,154,116,0.8);
  color: #fff;
  text-shadow: none;
}
.detail-1 .right-pane a.download:hover {
  background-color: #26ae90;
}
/*section2 start*/
.detail2 {
  background: url("../img/img05.png") center center/cover no-repeat fixed;
  width: 100%;
  color: #fff;
  overflow-x: hidden;
}
.detail2 .left-pane {
  margin-top: 75px;
  margin-bottom: 75px;
}
.detail2 .left-pane h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 50px;
}
.detail2 .left-pane h2 strong {
  color: #26ae90;
}
.detail2 .left-pane h3 {
  margin-left: 15px;
  font-size: 1.6em;
}
.detail2 .left-pane p {
  font-size: 1.5em;
  font-weight: 200;
  padding-left: 30px;
  margin-bottom: 35px;
}
.detail2 .right-pane {
  margin-top: 75px;
  margin-bottom: 75px;
}
.detail2 .right-pane img {
  min-width: 450px;
  margin: 0 auto;
  display: block;
}
.detail3 {
  width: 100%;
  background-color: #ececec;
  border-bottom: solid 1px #ececec;
  padding-top: 60px;
  text-align: center;

}
.detail3 h2 {
  color: #000;
}
.detail3 h2 strong {
  color: #26ae90;
  font-size: 1em;
}
.detail3 p {
  color: #4d4d4d;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.03em;
  margin-top: 35px;
  margin-bottom: 55px;
}
.detail3 img {
  width: 100%;
  max-width: 666px;
}

.price {
height: 500px;

background-color: white;
text-align: center;
padding-top: 40px;
}

/*.price .plan{
  /*text-align: center;
  vertical-align: middle;
  color: #4d4d4d;
  font-size: 2.5em;
   width: 100%;
   padding-top: 60px;
}
*/
.price  h2 {
font-size: 1.8em;
margin-bottom: 20px;
line-height: 150%;
}

.price .freeplan {
color: white;
margin: 0 auto;
list-style: none;
height: 150px;
width: 300px;
font-size: 1.6em;
padding: 0;
background-color: rgb(0,154,116);
border-radius: 10px;        /* CSS3草案 */
-webkit-border-radius: 10px;    /* Safari,Google Chrome用 */
-moz-border-radius: 10px;   /* Firefox用 */

  }

.price .freeplan li{
    text-align: center;
    padding-top: 13px;
  }

.price .attention{
  padding-top: 30px;
  font-size: 1.5em;
  margin-bottom: 20px;
}




/*.price .plan-list {
  list-style: none;
  padding: 0;
}
.price .plan-list li {
  padding: 10px;
  width: 20%;
  float: left;
  color: #fff;
  margin: 0 auto 25px;
}
.price .plan-list li .plan-detail {
  padding: 65px 10px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
.price .plan-list li .plan-detail h3 {
  font-size: 2em;
  margin-bottom: 25px;
}
.price .plan-list li .plan-detail p {
  font-weight: 400;
}
.price .plan-list li a.upgrade {
  display: block;
  padding: 15px 10px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
}
.price .plan-list li:nth-child(1) .plan-detail,
.price .plan-list li:nth-child(1) .upgrade {
  background-color: #9eccc0;
}
.price .plan-list li:nth-child(2) .plan-detail,
.price .plan-list li:nth-child(2) .upgrade {
  background-color: #7cd1c1;
}
.price .plan-list li:nth-child(3) .plan-detail,
.price .plan-list li:nth-child(3) .upgrade {
  background-color: #46cc98;
}
.price .plan-list li:nth-child(4) .plan-detail,
.price .plan-list li:nth-child(4) .upgrade {
  background-color: #13bc8b;
}
.price .plan-list li:nth-child(5) .plan-detail,
.price .plan-list li:nth-child(5) .upgrade {
  background-color: #088253;
}
@media (max-width: 767px) {
  .price .plan-list li {
    width: 100%;
  }
  .price .plan-list li .plan-detail,
  .price .plan-list li .upgrade {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .price .plan-list li {
    width: 33%;
  }
  .price .plan-list li .plan-detail {
    padding: 35px 10px;
  }
}
.price p.attention {
  color: #b3b3b3;
  font-weight: 200;
  text-align: center;
  font-size: 1.1em;
}
.price p.attention a {
  color: #4d4d4d;
  font-weight: 300;
}
*/
.create {
  padding: 35px 0;
  background-color: #ea5a42;
  text-align: center;
}
.create a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 3em;
  vertical-align: middle;
}
.user {
  background-color: #ececec;
  padding: 60px 0;
  font-size: 1.3em;
}
.user .uservoice {
  text-align: center;
}
.user .uservoice .user-img {
  width: 100px;
  height: 100px;
}
.user .uservoice .user-profile h3 {
  color: #4d4d4d;
  font-weight: 400;
  padding-top: 20px;
  font-family: 'Lato', sans-serif;
}
.user .user-comment {
  color: #26ae90;
  font-size: 34px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
  padding-top: 30px;
}
.footer {
  background-image: url("../img/office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer .message {
  text-align: center;
  padding: 75px 0;
  font-weight: 700;
  font-size: 3em;
  color: #fff;
  margin: 0;
  background-color: rgba(0,198,152,0.7);
}
.footer .footer-main {
  background-color: rgba(255,255,255,0.9);
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding: 35px 0;
}
.footer .footer-main .footer1 {
  float: left;
  list-style: none;
}
.footer .footer-main .footer1 li a {
  text-decoration: none;
  color: #4d4d4d;
}
.footer .footer-main .footer1 li img {
  width: 40px;
  height: 40px;
}
.footer .footer-main .footer2 {
  float: left;
  list-style: none;
}
.footer .footer-main .footer2 li a {
  color: #4d4d4d;
}
.footer .footer-main .social {
  float: right;
}
.footer .footer-main .social li {
  margin-right: 15px;
  display: inline;
  font-size: 3em;
}
.footer .footer-main .social li .fa-facebook-square {
  color: #3b5998;
}
.footer .footer-main .social li .fa-twitter-square {
  color: #59adec;
}
.footer .footer-main .social li .fa-github-square {
  color: #000;
}
.footer .footer-main .social li a {
  transition: 0.1s;
}
.footer .footer-main .social li a:hover {
  opacity: 0.6;
}
.footer .corporate {
  background-color: rgba(255,255,255,0.95);
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
}
.regulation{
  padding: 85px 15px;
}
